.movie-list{
    min-height: 90vh;
    list-style-type: none;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.movie-list-item{
    padding: 20px;
    text-align: center;
    width: 100px;
}
.movie-img{
    height: 150px;
    width: 100px;
    margin-bottom: 5px;
}
.title{
    font-size: 18px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 5px;
}
.rating{
    font-size: 16px;
    font-weight: 600;
}